# Format Style Options - Created with Clang Power Tools
---
AccessModifierOffset: -4
AlignConsecutiveAssignments: Consecutive
AlignOperands: Align
AllowAllConstructorInitializersOnNextLine: true
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: None
AllowShortLoopsOnASingleLine: false
BasedOnStyle: Google
BinPackArguments: true
BinPackParameters: true
BraceWrapping: 
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterObjCDeclaration: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: false
  BeforeElse: true
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
  BeforeLambdaBody: false
  BeforeWhile: false
BreakBeforeBraces: Allman
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeComma
BreakStringLiterals: false
ColumnLimit: 80
DeriveLineEnding: false
DerivePointerAlignment: false
EmptyLineBeforeAccessModifier: Leave
FixNamespaceComments: false
IncludeBlocks: Preserve
IndentCaseLabels: false
IndentPPDirectives: AfterHash
IndentRequires: true
IndentWidth: 4
MaxEmptyLinesToKeep: 2
ObjCBlockIndentWidth: 4
PenaltyBreakBeforeFirstCallParameter: 100000
PenaltyReturnTypeOnItsOwnLine: 60
ReflowComments: false
SortIncludes: false
SpaceAfterTemplateKeyword: false
SpaceBeforeParens: Never
SpacesBeforeTrailingComments: 1
TabWidth: 4
UseCRLF: false
UseTab: Always
...
